body{
    background-color: white;
    overflow: hidden;
}

.blocoum{
    width: 60%;
    min-height: 100%;
    background-color: #069669;
}
.blocodois{
    margin-top: 8%;
    margin-left: 12%;
}

.fundo{
    display: flex;
    min-height: 100vh;
}

.retangulo{
    height: 700px;
    transform: rotateY(180deg);
}

.imagem{
    height: 150px;
}

button{
    width: 300px;
    margin-top: 30px;
}

.senha{
    margin-top: 20px;
}